
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;

}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}





#marquee {
    height: 30px;
    background-color: #ffffcc;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
}
#marquee p {
    display: inline-block;
    padding-right: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
